/* .hea {
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: double underline;
} */
button {
  color: black;
  font-family: "Raleway", sans-serif;
  background-color: white;
  border-radius: 50%;
}
html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

#cont {
  /* border-radius: %; */
  /* margin-bottom: 20px; */
  margin-top: 20px;
  margin-bottom: 20px;
  /* /* font-family: tang; */
  /* font-family: "Tangerine", cursive; */
  /* font-family: "Fasthand", cursive;
   */
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  display: inline-block;
  font-weight: 900;
}
h1 {
  /* font-family: "Tangerine", cursive; */
  /* font-family: monospace;
   */
  font-family: "Raleway", sans-serif;
  /* font-size: small; */
}
#btn {
  display: none;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.github {
  margin-right: 100px;
}
img {
  width: 20px;
  height: 20px;
}
.block {
  display: inline-block;
}

#link:hover {
  color: yellow;
}
#link {
  color: white;
  font-family: "Raleway", sans-serif;
}
#mainc {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 600px) {
  #mainc {
    flex-direction: column;
    background-color: transparent;
  }
  .email,
  .github,
  .linkedin {
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* justify-content: center;
     */
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .github {
    display: inline;
    margin-left: 100px;
  }
}
